@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/lato-regular.eot");
  src: url("../fonts/Lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-regular.woff2") format("woff2"), url("../fonts/Lato/lato-regular.woff") format("woff"), url("../fonts/Lato/lato-regular.ttf") format("truetype"), url("../fonts/Lato/lato-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/lato-light.eot");
  src: url("../fonts/Lato/lato-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-light.woff2") format("woff2"), url("../fonts/Lato/lato-light.woff") format("woff"), url("../fonts/Lato/lato-light.ttf") format("truetype"), url("../fonts/Lato/lato-light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/lato-bold.eot");
  src: url("../fonts/Lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-bold.woff2") format("woff2"), url("../fonts/Lato/lato-bold.woff") format("woff"), url("../fonts/Lato/lato-bold.ttf") format("truetype"), url("../fonts/Lato/lato-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/lato-italic.eot");
  src: url("../fonts/Lato/lato-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-italic.woff2") format("woff2"), url("../fonts/Lato/lato-italic.woff") format("woff"), url("../fonts/Lato/lato-italic.ttf") format("truetype"), url("../fonts/Lato/lato-italic.svg") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT_Sans/ptsans-bold.eot");
  src: url("../fonts/PT_Sans/ptsans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PT_Sans/ptsans-bold.woff2") format("woff2"), url("../fonts/PT_Sans/ptsans-bold.woff") format("woff"), url("../fonts/PT_Sans/ptsans-bold.ttf") format("truetype"), url("../fonts/PT_Sans/ptsans-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

html, body {
  font-size: 10px;
  height: 100%; }
  @media (max-width: 1100px) {
    html body._lock, body body._lock {
      overflow: hidden; } }

a {
  transition: all 0.3s ease 0s; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.8rem;
  line-height: 1.2;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: #848789;
  max-width: 100%;
  margin: 0 auto;
  position: relative; }

._container {
  max-width: 1080px;
  margin: 0 auto; }

._icon-fix-size {
  max-width: 52px;
  max-height: 43px; }

._logo-fix-size {
  max-width: 94px;
  max-height: 85px; }

h1, h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738; }

.showAnim {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s; }

.showAnim._active, ._active .showAnim {
  transform: translate(0px, 0px);
  opacity: 1; }

@media (max-width: 768px) {
  .wrapper {
    font-size: 2rem; } }

.header {
  position: absolute;
  top: 35px;
  width: 100%;
  margin: 0 auto;
  z-index: 100; }

.header__body {
  display: flex;
  justify-content: center; }
  .header__body .header__logo, .header__body .menu__logo {
    flex: 0 0 94px;
    overflow: hidden; }
  .header__body .header__logo {
    display: none; }
    .header__body .header__logo ._logo-fix-size {
      max-width: 65px;
      max-height: 58px; }

.menu .header__burger {
  display: none; }

.menu .menu__list {
  display: flex;
  align-items: center; }
  .menu .menu__list li {
    margin-right: 35px; }
  .menu .menu__list li:last-child {
    margin-right: 0; }
  .menu .menu__list li a {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959;
    transition: all 0.3s ease 0s; }
    .menu .menu__list li a:hover {
      color: #64c29e; }
  .menu .menu__list .menu__logo-wrap {
    margin: 0 60px 0 25px; }
  .menu .menu__list .menu__dot {
    display: none; }

@media (max-width: 768px) {
  .header {
    top: 0;
    min-height: 78px; }
  .header__body {
    justify-content: space-between;
    position: fixed;
    background: rgba(242, 243, 249, 0.8);
    width: 100%;
    z-index: 100; }
    .header__body .header__logo {
      margin: 10px 0 10px 10px;
      display: block;
      flex: 0 0 65px;
      z-index: 1; }
    .header__body .menu__logo-wrap {
      display: none; }
    .header__body .header__burger {
      margin-top: 28px;
      margin-right: 25px;
      display: block;
      position: relative;
      width: 35px;
      height: 26px;
      z-index: 3; }
    .header__body .header__burger span {
      position: absolute;
      background: black;
      width: 100%;
      height: 2px;
      top: 12px;
      transition: all 0.3s ease 0s; }
    .header__body .header__burger:before, .header__body .header__burger:after {
      content: "";
      background: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s; }
    .header__body .header__burger:before {
      top: 0; }
    .header__body .header__burger:after {
      bottom: 0; }
    .header__body .header__burger._menuActive:before {
      transform: rotate(45deg);
      top: 12px;
      background: #fff; }
    .header__body .header__burger._menuActive span {
      transform: scale(0); }
    .header__body .header__burger._menuActive:after {
      transform: rotate(-45deg);
      bottom: 12px;
      background: #fff; }
    .header__body .menu__body {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: #3c3a4b;
      padding: 70px 0 0 0;
      transition: all 0.3s ease 0s; }
    .header__body .menu__body._menuActive {
      top: 0; }
    .header__body .menu__list {
      display: block;
      margin-top: 35px; }
      .header__body .menu__list li {
        margin-right: 0; }
      .header__body .menu__list .menu__dot {
        display: block; }
    .header__body .menu__list li, .header__body .menu__list li a {
      font-size: 1.5rem;
      color: #fff;
      text-align: center; }
    .header__body .menu__point, .header__body .menu__dot {
      margin: 35px 0; } }

.content {
  text-align: center; }

.fullscreen {
  background: #f7f7f7 url("../img/header_bg.jpg") no-repeat center/cover;
  min-height: 100vh; }

.newGeneration {
  position: relative;
  background-color: #f7f7f7; }
  .newGeneration .newGeneration__body {
    overflow: hidden;
    padding: 117px 15px 140px; }
  .newGeneration .newGeneration__img {
    margin-bottom: 35px;
    transition: all 0.8s  ease 0s; }
  .newGeneration .newGeneration__text {
    line-height: 34px;
    margin-top: 30px; }
  .newGeneration ._active h1 {
    transition: all 0.8s ease 0.2s; }
  .newGeneration ._active .newGeneration__text {
    transition: all 0.8s ease 0.4s; }
  @media (max-width: 768px) {
    .newGeneration h1 {
      font-size: 2.1rem; } }
  @media (max-width: 620px) {
    .newGeneration .newGeneration__body {
      padding: 60px 15px; } }

.commonBlockOfBikes .commonBlockOfBikes__row {
  display: flex; }

.commonBlockOfBikes .common__block {
  display: flex;
  flex-basis: 33.333%;
  flex-direction: column;
  overflow: hidden; }
  .commonBlockOfBikes .common__block .common__block__wrap {
    padding: 0 65px;
    flex: 1 1 auto; }
  .commonBlockOfBikes .common__block .common__block__bg {
    margin-top: 38px;
    height: 200px; }

.commonBlockOfBikes .common__bg {
  flex: 0 0 66.666%;
  min-height: 600px; }

.commonBlockOfBikes .common__block__img {
  margin-top: 70px; }

.commonBlockOfBikes h2 {
  margin: 25px 0; }

.commonBlockOfBikes .common__block__text {
  margin-bottom: 40px;
  font-size: 1.6rem;
  line-height: 30px;
  text-align: left; }

.commonBlockOfBikes .common__block__hr {
  margin: 0 auto;
  width: 50px;
  height: 1px;
  background: rgba(53, 55, 56, 0.2); }

.commonBlockOfBikes .animRight {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s; }

.commonBlockOfBikes ._active .animRight {
  transform: translate(0, 0);
  opacity: 1; }

.commonBlockOfBikes .animLeft {
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s; }

.commonBlockOfBikes ._active .animLeft {
  transform: translate(0, 0);
  opacity: 1; }

.commonBlockOfBikes ._active .subTitle {
  transition: all 0.8s ease 0.1s; }

.commonBlockOfBikes ._active .common__block__text {
  transition: all 0.8s ease 0.3s; }

.commonBlockOfBikes ._active .common__block__hr {
  transition: all 0.8s ease 0.5s; }

.commonBlockOfBikes .commonBlockOfBikes__vintage .common__bg {
  background: url("../img/contain_logo1.jpg") no-repeat center/cover; }

.commonBlockOfBikes .commonBlockOfBikes__vintage .common__block__bg {
  background: url("../img/bike1.jpg") no-repeat center/cover; }

.commonBlockOfBikes .commonBlockOfBikes__Boriosa .common__bg {
  background: url("../img/contain_logo2.jpg") no-repeat center/cover; }

.commonBlockOfBikes .commonBlockOfBikes__Boriosa .common__block__bg {
  background: url("../img/bike2.jpg") no-repeat center/cover; }

.commonBlockOfBikes .commonBlockOfBikes__Retro .commonBlockOfBikes__Retro__bg1 {
  display: flex;
  min-height: 600px;
  flex: 0 0 33.333%;
  background: url("../img/contain_logo3.jpg") no-repeat center/cover; }

.commonBlockOfBikes .commonBlockOfBikes__Retro .common__block__bg {
  background: url("../img/bike3.jpg") no-repeat center/cover; }

.commonBlockOfBikes .commonBlockOfBikes__Retro .commonBlockOfBikes__Retro__bg2 {
  display: flex;
  min-height: 600px;
  flex: 0 0 33.333%;
  background: url("../img/bike4.jpg") no-repeat center/cover; }

@media (max-width: 1100px) {
  .commonBlockOfBikes .commonBlockOfBikes__row {
    flex-direction: column; }
  .commonBlockOfBikes .common__bg {
    flex: 0 0 100%; }
  .commonBlockOfBikes .common__block {
    flex: 0 0 100%; }
    .commonBlockOfBikes .common__block .common__block__wrap {
      padding: 0 20px; }
  .commonBlockOfBikes .common__block__bg {
    height: 400px; }
  .commonBlockOfBikes .commonBlockOfBikes__Retro .commonBlockOfBikes__Retro__bg1, .commonBlockOfBikes .commonBlockOfBikes__Retro .commonBlockOfBikes__Retro__bg2 {
    flex: 0 0 100%; } }

@media (max-width: 768px) {
  .commonBlockOfBikes .common__block__text {
    font-size: 1.8rem; } }

@media (max-width: 620px) {
  .commonBlockOfBikes .common__bg, .commonBlockOfBikes .commonBlockOfBikes__Retro__bg1 {
    min-height: 400px !important; }
  .commonBlockOfBikes .common__block__img {
    margin-top: 38px; } }

@media (max-width: 480px) {
  .commonBlockOfBikes .commonBlockOfBikes__Retro__bg2 {
    min-height: 450px !important; } }

.shopCommonBlock .shopBlock .shopBlock__preSlider {
  padding: 117px 20px 0 20px;
  background-color: #f7f7f7; }
  .shopCommonBlock .shopBlock .shopBlock__preSlider .shopBlock__img {
    margin-bottom: 30px; }
    .shopCommonBlock .shopBlock .shopBlock__preSlider .shopBlock__img img {
      max-width: 32px;
      max-height: 27px; }
  .shopCommonBlock .shopBlock .shopBlock__preSlider h2 {
    padding-bottom: 30px;
    letter-spacing: 0.1em;
    text-transform: none; }
    .shopCommonBlock .shopBlock .shopBlock__preSlider h2 span {
      font-weight: 300;
      color: #848789; }
  .shopCommonBlock .shopBlock .shopBlock__preSlider .shopBlock__text {
    padding-bottom: 37px; }
  .shopCommonBlock .shopBlock .shopBlock__preSlider ._active .shopBlock__subTitle {
    transition: all 0.8s ease 0.2s; }
  .shopCommonBlock .shopBlock .shopBlock__preSlider ._active .shopBlock__text {
    transition: all 0.8s ease 0.4s; }

@media (max-width: 620px) {
  .shopCommonBlock .shopBlock .shopBlock__preSlider {
    padding-top: 68px; }
  .shopCommonBlock .shopBlock .shopBlock__text {
    padding-bottom: 0 !important; } }

.shopCommonBlock .shopBlock .shopSlider .shopSlider__pagination {
  background-color: #f7f7f7;
  padding: 68px 0;
  position: static; }
  .shopCommonBlock .shopBlock .shopSlider .shopSlider__pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: rgba(40, 47, 53, 0);
    border: 1px solid #a9afb3; }
  .shopCommonBlock .shopBlock .shopSlider .shopSlider__pagination .swiper-pagination-bullet-active {
    background-color: #a9afb3; }

.shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap {
  display: flex; }
  .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common {
    display: flex;
    flex-basis: 33.333%;
    flex-direction: column; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__link {
      position: relative; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__link img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__size {
      padding-top: 10vh; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__size .shopSlider__showWrap {
        display: none;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #fff;
        height: 54px; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__size .shopSlider__show {
        background: url("../img/icons/icon_bike_hover.png") no-repeat top center;
        display: block;
        padding-top: 40px; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__link:hover .shopSlider__size {
      transition: all 0.3s ease 0s;
      width: 100%;
      height: 100%;
      background: rgba(100, 194, 158, 0.8);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__link:hover .shopSlider__size .shopSlider__showWrap {
        display: block; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block_el1 {
      height: 25vh;
      display: flex; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block_el1 .shopSlider__link {
        flex-basis: 50%; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block_el2 {
      height: 25vh;
      display: flex; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block_el2 .shopSlider__link {
        width: 100%; }
    .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block {
      display: flex;
      height: 50vh; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block .shopSlider__link {
        flex-basis: 50%; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block .shopSlider__size {
        padding-top: 23vh; }
      .shopCommonBlock .shopBlock .shopSlider .shopSlider__wrap .shopSlider__common .shopSlider__block .shopSlider__showWrap {
        padding-top: 0; }

@media (max-width: 768px) {
  .shopCommonBlock .shopBlock .shopSlider__wrap {
    flex-direction: column; }
    .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common {
      flex-basis: 100%; }
      .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__block .shopSlider__showWrap, .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__block_el1 .shopSlider__showWrap, .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__block_el2 .shopSlider__showWrap {
        position: absolute;
        width: 100%;
        height: 68px !important;
        bottom: 0;
        border: rgba(242, 243, 249, 0.8) solid 1px;
        background: rgba(100, 194, 158, 0.5); }
      .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__block .shopSlider__show, .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__block_el1 .shopSlider__show, .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__block_el2 .shopSlider__show {
        position: relative;
        top: 6px; }
      .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__link .shopSlider__size, .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__link:hover .shopSlider__size {
        transition: all 0.3s ease 0s;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        padding-top: 5px !important;
        padding-bottom: 5px; }
      .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__link .shopSlider__showWrap, .shopCommonBlock .shopBlock .shopSlider__wrap .shopSlider__common .shopSlider__link:hover .shopSlider__showWrap {
        display: block !important; } }

.shopCommonBlock .discoverShop {
  padding: 75px 0;
  background: #282f35; }
  .shopCommonBlock .discoverShop .discoverShop__button {
    margin: 0 auto; }
    .shopCommonBlock .discoverShop .discoverShop__button a {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.49);
      display: inline-block;
      padding: 17px 58px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff;
      transition: all 0.3s ease 0s; }
      .shopCommonBlock .discoverShop .discoverShop__button a:hover {
        background: #f7f7f7;
        color: black; }

.submissionForm .submissionForm__body {
  padding: 110px 0; }

.submissionForm .submissionForm__img {
  margin-bottom: 35px; }

.submissionForm .submissionForm__text {
  margin-bottom: 35px; }

.submissionForm .submissionForm__form__input {
  margin-right: 4px;
  vertical-align: top;
  display: inline-block;
  padding: 28px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9; }
  .submissionForm .submissionForm__form__input::placeholder {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
    opacity: 0.4; }
  .submissionForm .submissionForm__form__input:focus {
    border: 1px solid #64c29e;
    transition: 0.1s ease 0s; }

.submissionForm button {
  display: inline-block;
  padding: 25px 50px;
  background-color: #64c29e;
  font-size: 2.4rem;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff; }
  .submissionForm button:hover {
    background-color: seagreen;
    transition: all 0.3s ease 0s; }

.submissionForm .showAnimPhoto {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s ease 0s; }

.submissionForm ._active .showAnimPhoto {
  transform: scale(1);
  opacity: 1; }

.submissionForm ._active .submissionForm__text {
  transition: all 0.8s ease 0.2s; }

@media (max-width: 660px) {
  .submissionForm .submissionForm__body {
    padding: 60px 0; }
  .submissionForm .submissionForm__form__input {
    width: 250px; } }

@media (max-width: 460px) {
  .submissionForm .submissionForm__form__input {
    padding: 28px 12px 28px 12px;
    max-width: 200px; }
  .submissionForm button {
    padding: 25px 30px; } }

.footer {
  background-color: #f7f7f7; }
  .footer .footer__body {
    padding: 108px 15px; }
  .footer .footer__row {
    display: flex;
    justify-content: space-between; }
  .footer .footer__contact {
    flex: 0 0 33.333%; }
    .footer .footer__contact .footer__AOD {
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 700; }
    .footer .footer__contact .footer__info {
      font-size: 1.4rem;
      font-style: italic;
      line-height: 1.4; }
  .footer .footer__messengers {
    text-align: center;
    flex: 0 0 33.333%; }
    .footer .footer__messengers a {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px; }
    .footer .footer__messengers a:last-child {
      margin-right: 0 !important; }
  .footer .footer__contact2 {
    text-align: right;
    flex: 0 0 33.333%;
    font-size: 1.6rem;
    line-height: 29px; }
    .footer .footer__contact2 span {
      padding-right: 10px; }
    .footer .footer__contact2 .author-name {
      padding-right: 0;
      font-family: "PT Sans", sans-serif;
      font-weight: 700;
      color: #4a4645;
      font-size: 2rem; }
  .footer .icon-facebook {
    font-size: 35px;
    color: #537bbd; }
    .footer .icon-facebook:hover {
      color: #64c29e; }
  .footer .icon-vk {
    font-size: 35px;
    color: dodgerblue; }
    .footer .icon-vk:hover {
      color: #64c29e; }
  .footer .icon-twitter {
    font-size: 35px;
    color: #78cdf0; }
    .footer .icon-twitter:hover {
      color: #64c29e; }

@media (max-width: 768px) {
  .footer .footer__body {
    padding: 40px 10px 10px 10px; }
  .footer .footer__row {
    flex-flow: wrap; }
  .footer .footer__contact {
    flex: 0 0 50%;
    padding-right: 5px; }
  .footer .footer__messengers {
    flex: 0 0 50%;
    text-align: right;
    padding-left: 5px; }
  .footer .footer__contact2 {
    padding: 40px 0 10px 0;
    flex: 0 0 100%;
    text-align: center; }
  .footer .footer__messengers a {
    margin-right: 14px; } }

.content__preText {
  font-size: 2.4rem;
  line-height: 34px;
  font-style: italic; }
